<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @job.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @job.company %></h6>
    <p class="card-text"><%= @job.description %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Location:</strong> <%= @job.location %></li>
      <li class="list-group-item"><strong>Posted:</strong> <%= @job.posted_date %></li>
      <li class="list-group-item"><strong>Expires:</strong> <%= @job.expiration_date %></li>
      <li class="list-group-item"><strong>Salary:</strong> <%= number_to_currency(@job.salary) %></li>
    </ul>
    <% if Current.user && Current.user.admin? %>
      <%= link_to "Edit", edit_job_path(@job), class:'btn btn-secondary' %>
      <%= button_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
