<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "MyJob", root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Jobs", jobs_path, class:'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-0">
        <li class="nav-item dropdown">
          <% if Current.user.present? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
          <% else %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if Current.user.present? %>
              <li><%= link_to "About us", about_path , class: 'dropdown-item' %></li>
              <li><%= link_to "Account details", account_details_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <%= button_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
            <% else %>
              <%= link_to "Sign in", sign_in_path, class:'dropdown-item' %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
